body{
	font-family: 'Open Sans', sans-serif;
}
h1{
	font-size: 50px;
}
.high-light{
	color: orange;
}
.half-width{
	width: 40%;
	padding: 2%;
	margin-right: 3%;
	float: left;
}
.half-width img {
	width: 100%;
}