body{
	font-family: 'Open Sans', sans-serif;
}
h1{
	font-size: 50px;
}
.high-light{
	color: orange;
}
.half-width{
	width: 40%;
	margin-left: 5%;
	padding-left: 2%;
	float: left;
}
.half-width imag {
width: 100%;
}